
.menu-container {
    display: block;
    padding: 0;
    height: 0;
    transition: var(--toggle-transition);
  }
  
  @media screen and (min-width: 1024px) {
    .menu-container {
      height: auto !important;
    }
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
