body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.columns {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
}

.card-content {
  padding: 0rem;
}

:root {
  /* COLOURS */
  --white: #ffffff;
  --blue-repo-title: hsl(229, 86%, 56%);

  /* TRANSITIONS */
  --toggle-transition: height 350ms ease-in-out;

  --icon-animation: 3s infinite forwards;

  --social-media-green: #10ac84;

  --icon-box-shadow: 0 5px 15px -5px #00000070;

  --light-grey: #f1f1f1;
}
